@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    St. John's Woods Apartments<br />
    Reston, VA<br />
    <abbr title="Phone">P:</abbr>
    765.808.3685
</address>

<address>
    <strong>Email:</strong> <a href="mailto:varnathin@gmail.com">varnathin@gmail.com</a>
</address>
